/* src/components/Home/Logements.css */
.logements-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1.5rem;
  padding: 2rem;
  background-color: #f6f6f6;
  border-radius: 25px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}

/* Responsive */
@media screen and (max-width: 768px) {
  .logements-list {
    grid-template-columns: 1fr;
    gap: 1rem;
    border-radius: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .logements-list {
    max-width: 1400px;
  }
}
